{% extends 'base.html.twig' %}

{% block title %}Hello IncidenciasController!{% endblock %}

{% block main %}

{% for message in app.flashes('aviso') %}
    <div class="flash-notice alert alert-info">
        {{ message }}
    </div>
{% endfor %}
<h2>Listado de incidencias</h2>
<div class="incidencias">
{% if incidencias is not empty %}
{% for incidencia in incidencias %} 
    <div class="incidencia">
        <p><a href="{{ path("ver_incidencia", {id: incidencia.id}) }}">{{ incidencia.titulo }}</a> </p>
        <p> Cliente: {{ incidencia.cliente.nombre }} {{ incidencia.cliente.apellidos }} </p>
        <p> Fecha de inicio: {{ incidencia.fechaCreacion | date("Y-m-d") }} </p>
        
    </div>
{% endfor %}
</div>
{% else %}
    <p>Todavía no hay ninguna incidencia</p>
{% endif %}
<a href="{{ path("insertar_incidencia") }}" class="btn boton mt-2 mb-2 text-white">Nueva incidencia</a>
{% endblock %}
